name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest

        env:
            NODE_VERSION: '24'
            NODE_OPTIONS: '--max_old_space_size=4096'

        steps:
            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            - name: Use Node.js ${{ env.NODE_VERSION }}
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
              with:
                  node-version: ${{ env.NODE_VERSION }}
            - run: npm ci && npm run build:release

            - name: Codecov
              uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
              with:
                  directory: ./reports/coverage
                  flags: unittests
                  fail_ci_if_error: false
                  token: ${{ secrets.CODECOV_TOKEN }}
