name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest

        env:
            NODE_VERSION: '24'
            NODE_OPTIONS: '--max_old_space_size=4096'

        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
            - name: Use Node.js ${{ env.NODE_VERSION }}
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version: ${{ env.NODE_VERSION }}
            - run: npm ci && npm run build:release

            - name: Codecov
              uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
              with:
                  directory: ./reports/coverage
                  flags: unittests
                  fail_ci_if_error: false
                  token: ${{ secrets.CODECOV_TOKEN }}
