name: Create Release
permissions: read-all

on:
    release:
        types: [published]
    workflow_dispatch:

jobs:
    build:
        name: Create Release
        runs-on: ubuntu-latest

        env:
            NODE_VERSION: '24'
            NODE_OPTIONS: '--max_old_space_size=4096'

        permissions:
            id-token: write

        steps:
            - name: Checkout
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  fetch-depth: 0

            - name: Setup Node
              uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  registry-url: https://registry.npmjs.org/

            - name: Install node modules and verify build
              run: npm ci && npm run build:release

            - name: Publish FDC3 Library
              run: cd dist/fdc3-web && npm publish --provenance --access public

            - name: Publish Messaging Provider Library
              run: cd dist/fdc3-web-messaging-provider && npm publish --provenance --access public

            - name: Publish UI Provider Library
              run: cd dist/fdc3-web-ui-provider && npm publish --provenance --access public
